/* @override http://localhost:8080/example/static/css/main.css */

body {
	font: 15pt/1.5em "Lucida Grande", Lucida, Verdana, sans-serif;
	text-align: center;
}

h1 {
	font-size: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

input {
	font-size: 1em;
}

#container {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

.form-container {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1em;
}

.field {
	padding-bottom: 0.75em;
}

.field.error div {
	color: #7f0c0b;
	background-color: #ff949a;
	border: 1px solid #7f0c0b;
	margin-top: 0.5em;
	padding: 0.5em;
}

.ui-datepicker {
	font-size: 10pt;
	line-height: normal;
}

.dataTables_wrapper {
    text-align: left;
}

#currentForms {
    width: 950px;
}

#currentForms th, #currentForms td {
    text-align: left;
    padding: 5px;
}

.css_right {
    display: block;
    float: right;
}
